body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-colour{
    color: orange;
}
.flexible-container{
    display: flex;
    margin: 150px;
}
.half-width{
    width: 50%;
    padding: 30px;
}
.half-width img{
   width: 350;height: 400;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: antiquewhite;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.Experiances-mergin{
    margin-left: 150px;
    margin-bottom: -100px;
    font-size: 50px;

}
.font-size{
    font-size: 35px;
}
.Experiances{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;


}
#yollow-border{
    border-left: 6px solid yellowgreen;
}
#blue-border{
    border-left: 6px solid blueviolet;
}
footer p{
    text-align: center;

}